html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}


header {
    background-color: blanchedalmond;
    grid-area: header;
}

main {
    background-color: beige;
    grid-area: main;

}

aside {
    background-color: ghostwhite;
    grid-area: aside;

}

footer {
    background-color: bisque;
    grid-area: footer;

}