:root{
    --header-icon-background: gray;
    --header-infos-height: 80%;
    --header-info-font-size: 12px;
    --header-info-font-color: white;
    --header-info-background-color: rgb(7, 7, 62);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*HEADER SECTIONS*/

header {
    border: solid blueviolet 5px;
}

.info {
    border: solid red 5px;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    height: 10%;
}

.contact{
    height: var(--header-infos-height);
    border: solid blueviolet 5px;
    border-top-left-radius: 2em;
    display: grid;
    grid-template-areas: "icon title title"
                         "icon number number";
    color: var(--header-info-font-color); 
    background-color: var(--header-info-background-color);
}

.contact-title {  
    grid-area: title;
    margin-top: 5%;
    margin-left: -8%;
    font-size: var(--header-info-font-size);
}

.message-icon{
    grid-area: icon;
    margin-left: 50%;
    margin-top: 15%;
    margin-bottom: 2em;
}

.contact-number {
    grid-area: number;
    margin-bottom: 10%;
    margin-left: -8%;
    font-size: var(--header-info-font-size);
}

.opening-hours {
    border: solid pink 5px;
    height: var(--header-infos-height);
    background-color: rgb(18, 40, 58);
    color: var(--header-info-font-color);
    font-size: var(--header-info-font-size); 

}

.client-area {
    border: solid purple 5px;
    height: var(--header-infos-height);
    border-top-right-radius: 2em;
    background-color: var(--header-info-background-color);  
    color: var(--header-info-font-color); 

}

/* .info-icon, .client-icon{
    background-color: var(--header-icon-background);
    width: 3em;
    border-radius: 50%;
    padding: 15px;
    
}

.client-icon {
    font-size: 1.5em;
    padding: 10px;
} */


/*HEADER NAV*/