:root{
    --header-icon-background: gray;
    --header-icon-border-color: gray;
    --header-info-font-size: 14px;
    --header-info-font-color: white;
    --header-info-background-color: rgb(1, 1, 39);
    --header-border-radius: 2em;

    --section-values-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   background-color: rgb(237, 227, 227);
}

/*HEADER SECTION*/

header, 
main, 
aside, 
footer {
    width: 1000px;
    margin: 0 auto;
}

.information-container {
    display: flex;
    font-size: var(--header-info-font-size);
    color: var(--header-info-font-color);
    margin-top: 0.5%;
}

/* CONTACT ARTICLE*/

.contact{
    flex-grow: 1.5;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    background-color: var(--header-info-background-color);
    border-top-left-radius: var(--header-border-radius);
}

.contact-information{
    padding-top: 2%;
}

.contact-title {
    padding-bottom: 2%;  
}

.information-icon{
    border: solid var(--header-icon-border-color) 10px;
    border-radius: 50%;
    background-color: var(--header-icon-background);
}

.contact-number {
    border: hidden white 5px;
    padding-bottom: 5%;
}

/* OPENING HOURS ARTICLE*/

.opening-hours {
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    background-color: rgb(50, 50, 83);
    gap: 0.6rem;
    padding-left: 7%;

}

.attendance-information{
    padding-top: 3%;
}

.attendance {
    padding-bottom: 2%;  
}

.schedule {
    padding-bottom: 5%;
}

/* CLIENT AREA ARTICLE*/

.client-area {
    flex-grow: 1.5;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    background-color: var(--header-info-background-color);
    border-top-right-radius: var(--header-border-radius);
    padding-left: 3%;
}

.button-link {
    text-decoration: none;
    font-size: var(--header-info-font-size);
    color: black;
    background-color: lightgray;
    padding: 2% 3%;
    border-radius: 0.5em;
    font-weight: 600;
    text-align: center;
    margin-right: 3%;
}

/*HEADER NAV*/

#nav-container{

    display: flex;
    align-content: start;
    padding: 1% 3%;
    background-color: aliceblue;
}

#logo {
    color: var(--header-info-background-color);
    font-size: 2em;
    margin-left: 5%;
    text-decoration: none;
}

#logo p {
    font-size: 0.35em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: end;
    flex-grow: 1;
    margin-left: 2%;
    padding-right: 3%;
    gap: 2%;
}
.menu-item {
    display: flex;
    text-decoration: none;
    
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
}

.menu-link-item {
    text-decoration: none;
    color: var(--header-info-background-color);
}

.open-button-link {
    background-color: var(--header-info-background-color);
    color: white;
    padding: 6% 9px;
    border-radius: 15px;
}

/*MAIN*/
#main-container {
    background-color: aliceblue;
}

/*Main Section about*/

.about-section {
    background-image: url('./assets/contabilidade-1.jpg');
    background-position: center top;
    background-repeat: repeat-x;
    background-size: cover;
    height: 400px;
}

.about-article {
    padding: 5%;
    text-align: justify;
}

.about-title {
    font-size: 1.3em;
    margin-bottom: 1.5%;
    color: var(--header-info-background-color);
}

.about-text {
    font-size: 0.8em;
    margin-bottom: 2%;
    font-weight: 500;
    color: black;
}

.about-link {
    text-decoration: none;
    color: white;
    background-color: var(--header-info-background-color);
    padding: 1% 2%;
    border-radius: 5px;
}

/*Main value section*/

.values {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;

}

.value {
    background-color: var(--header-info-background-color);
    max-width: 250px;
    height: 200px;
    text-align: center;
    border-radius: 3px; 
}

.wraps-icon {
    text-align: center;
    position: relative;
    bottom: 20px;
}

.icon {
   font-size: 1.5em;
   color: var(--section-values-color);
   background-color: var(--header-info-background-color);
   padding: 0.5em;
   border-radius: 50%;
   border-bottom: solid white 4px;
   border-right: solid white 4px;
}

.value-title {
    color: var(--section-values-color);
    margin-top: 5px;
}

.value-text {
    color: var(--section-values-color);
    margin: 20px auto;
    font-size: 12px;
}

/* Main services section*/

#services-section {
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.services-title {
    text-align: center;
    padding-bottom: 25px;
}

.services-title h5{
    color: rgb(167, 159, 148);
    padding-top: 5px;
    font-weight: lighter;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    row-gap: 50px;
    width: 900px;
    margin-top: 30px;
}

.service-item {
    display: grid;
    grid-template-areas: 
        "ic title title"
        "ic parag parg"
        ". link link"
    ;
    gap: 5px;
}

.service-item i {
   grid-area: ic;
   font-size: 30px;
   background-color: rgb(205, 198, 187);
   height: 55%;
   width: 60px;
   text-align: center;
   padding: 5px;
   padding-top: 10px;
}

.service-item h5 {
   grid-area: title;
}

.service-item p {
   grid-area: parag;
   color: rgb(167, 159, 148);
   font-size: 12px;
}
.service-item a {
   grid-area: link;
   text-decoration: none;
   color: rgb(167, 159, 148);
   font-size: 12px;
   font-weight: 700;
}

/*ASIDE*/

#aside-container {
    
    background-color: rgb(19, 19, 41);
}
.form-contact {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.fieldset{
    border: none;
    display: grid;
    grid-template-areas: 
    "label-name label-name"
    "input-name input-name"
    "label-email label-phone"
    "input-email input-phone"
    "label-mess label-mess"
    "input-mess input-mess"
    "label-robot label-robot"
    "form-button form-buton";
    margin: 5% 10%;
    column-gap: 4%;
    row-gap: 1%;
}

.label-name{
    grid-area: label-name;
}

.label-name::after{
    content: '*';
}
#name{
    grid-area: input-name;
}

.label-email{
    grid-area: label-email;
}
#email{
    grid-area: input-email;
}
.label-phone {
    grid-area: label-phone;
}
#phone{
    grid-area: input-phone;
}

.label-mess{
    grid-area: label-mess;
}

#message{
    padding: 30px;
    grid-area: input-mess;
}

.label-robot{
    grid-area: label-robot;
    background-color: rgb(245, 235, 235);
    color: black;
    font-size: 0.8em;
    margin-top: 3%;
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.label-robot::after{
    content: "";
    width: 50px;
    height: 50px;
    background-image: url('./assets/recaptcha.png');
    background-size: cover;
    margin-left: 15%;
    margin-right: 0;

}

.span-robot{
    border: #aaa 1px solid;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 242, 242);
    margin-left: 3%;
    margin-right: 3%;
    position: relative;

}

.label-robot input[type="checkbox"]:checked + .span-robot::before{ 
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: solid green 3px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    left: 1px;
    bottom: 4px;
    right: 4px;
    top: 0;
    box-sizing: border-box;
    margin: 2px;
    border-radius: 2px;
}

.label-robot input[type="checkbox"]{
    overflow: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.form-button{
    grid-area: form-button;
    margin-top: 5%;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: solid 1px black;
    margin-bottom: 40px;
}
.legend {
    opacity: 0;
    overflow: hidden;
}

.label,  
.input {
    color: aliceblue;
    font-size: 0.8em;
}

.label {
    margin-top: 3%;
}

.input{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 0.1px solid aliceblue;
    background-color: rgb(19, 19, 41);
    padding: 10px;
}


#contact-section {
    display: flex;
}

.contact-text {
    color: aliceblue;
    width: 50%;
    padding: 40px;
    font-size: 12px;
}

.contact-text h1{
    margin: 15px 0;
    font-size: 24px;
}

.contact-p1 {
    padding-bottom: 40px;
    line-height: 20px;
}

.contact-p2 {
    margin-top: 15%;
    line-height: 20px;
}

#footer-container{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    background-color:   rgb(205, 198, 187);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
    padding: 30px;
}

.small-text{
   color: rgb(81, 79, 79);
   width: 50%;
   font-size: 11px;
   line-height: 18px;
}